################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/RefuerzoPOO/.vs/RefuerzoPOO/FileContentIndex/4a8986f9-3dbb-48c8-b37d-6de773aadd53.vsidx
